.app-container {
  background-color: #e0e0e0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Белый контейнер для списка дел */
.todo-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  max-width: 900px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px; /* Чтобы отступить от нижней части */
}

/* Добавляем разделители между списками */
.accordion-section {
  margin-bottom: 20px; /* Отступ между списками */
  padding: 10px 0;
  border-top: 1px solid #ddd; /* Линия разделитель */
}

/* Таблица */
.todo-table {
  width: 100%;
  border-collapse: collapse;
}

.todo-table th, .todo-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.todo-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.todo-table tr:hover {
  background-color: #f1f1f1;
}

/* Стили для компонента TodoFooter */
.todo-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

